@import "/src/style.less";

.wrapper {
  max-width: 100%;
  padding-top: 100%;
  flex-direction: column;
  flex-basis: 288px;
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  position: relative;
  color: white;
  overflow: hidden;
  @media (min-width: @gridSizeS) and (max-width:@gridSizeM)  {
    max-width: calc(50% - 8px);
    padding-top: 49%;
    margin-bottom: 16px;
    &:not(:nth-of-type(2n)) {
      margin-right: 16px;
    }
  }
  @media (min-width: @gridSizeM) and (max-width:@gridSizeXL) {
    max-width: calc(33% - 8px);
    padding-top: 32%;
    margin-bottom: 16px;
    &:not(:nth-of-type(3n)) {
      margin-right: 16px;
    }
  }
  @media (min-width: @gridSizeXL) {
    max-width: calc(25% - 18px);
    padding-top: 23.5%;
    margin-bottom: 24px;
    &:not(:nth-of-type(4n)) {
      margin-right: 24px;
    }
  }
};
.bg {
  flex-grow: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  &:hover {
    transform: scale(1.05);
  }
}
.img {
  width: 100%;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.05);
  }
}
.container {
  background-color: rgba(0,0,0,.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
};
.top {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.title {
  font-size: 22px;
}
.weather {
}
.time {
}
