@import "/src/style.less";

.wrapper {
  min-width: 250px;
  max-width: 100%;
  padding-top: 100%;
  flex-direction: column;
  flex-basis: 288px;
  flex-grow: 1;
  justify-content: space-between;
  display: flex;
  position: relative;
  color: white;
  @media (min-width: @gridSizeS) and (max-width:@gridSizeM)  {
    padding-top: 50%;
    max-width: calc(50% - 8px);
    margin-bottom: 16px;
    &:not(:nth-of-type(2n)) {
      margin-right: 16px;
    }
  }
  @media (min-width: @gridSizeM) and (max-width:@gridSizeL) {
    padding-top: 33%;
    max-width: calc(33% - 12px);
    margin-bottom: 16px;
    &:not(:nth-of-type(3n)) {
      margin-right: 16px;
    }
  }
  @media (min-width: @gridSizeL) {
    padding-top: 25%;
    max-width: calc(25% - 16px);
    margin-bottom: 16px;
    &:not(:nth-of-type(4n)) {
      margin-right: 16px;
    }
  }

};
.container {
  background-color: rgba(0,0,0,.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
};
.top {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.title {
  font-size: 22px;
}
.weather {
}
.time {
}
